/* Begin of the header */
.nav_list{
    display: inline-block;
    padding-left: 250px;
}

ul{
    list-style: none;
    float: left;

}
.nav_list .list li{
    float: left;
    padding: 40px;
    font-size: large;
    font-weight: bold;
}

.container{
    padding-top: 20px;
    width: 1200px;
    margin: auto;
}
.nav_list .list .hov:hover{
    color: red;
    border-bottom: 2px solid red;
}
.nav_list .list li:hover{
    color: red;
    border-bottom: 2px solid red;
}
header{
  margin-bottom: -50px;
  margin-top: -20px;
}

a{
  text-decoration: none;
  color: black;
}
/* end of header*/


body{
  background: url("https://wallpaperaccess.com/full/5962313.jpg");
  background-repeat:round;
  background-attachment: scroll;
}
form{
  padding: 3% 10% 3% 10%;
  margin: 3% 8% 3% 8%;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 110%;
}
h1{
  text-align: center;
  color: gold;
  margin-bottom: 3%;
}
label{
  display: inline-block;
  width: 34%;
  padding: 1%;
  margin: 1%;
  text-align: right;
  color: gold;
}
input{
  display: inline-block;
  width: 34%;
  text-align: left;
  padding: 0.5%;
  margin: 1%;
  margin-bottom: 0px;

}
.control.success input{
  border: 2px solid;
  border-color: green;
}

.control.error input{
  border: 2px solid;
  border-color: red;
}

small {
	color: red;
  display: block;
  text-align: center;
  width: 88%;
	bottom: 0;
	left: 0;
  margin-top: -10px;
  position: relative;
  visibility: hidden;
}

.control.error  small{
  visibility: visible;
}


.gender{
  display: inline-block;
  width: auto;
  text-align: left;
  padding: 0.5%;
  margin: 1%;
}
#l{
  width: 38.1%;
  margin-right: 1%;
  padding: 1%;
  padding: 0%;
  margin: 0%;
}
form > span{
  color: gold;
}
.end{
  display: inline-block;
  width: 10%;
  text-align: center;
  padding: 1%;
  margin: 1%;
  margin-left: 48%;
  background-color: black;
  color: gold;
  font-size: 90%;
  outline: rgb(82, 23, 23);
}


/* Begin of the footer*/
.links{
    display:inline-block;
    margin-left: 200px;
}

.links li{
    float: left;
    padding: 50px;

}

.links ul{
    margin-left: 250px;
}
footer{
    margin-top: 50px;
}

/* End of footer */
